.navbar-links {
	display: flex;
}

.navbar-links li {
    list-style-type: none;
}

.navbar-links a {
	display: inline-block;
	text-decoration: none;
    padding: 6px;
	margin: 0;
}

.navbar-internal a:hover {
	text-decoration: underline;
}